<!DOCTYPE html >
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <link href="signup.css" rel="stylesheet" type="text/css">

</head>

<body>
    <br>
    <section class="cd-intro">
        <div class="cd-intro-content mask">
            <h1 data-content="Welcome to the new and improved MyCANVAS by Nanako, Divia and Daniel. There are lots of bugs but don't tell Alex and Gordon shhhhh!">
                <span>Welcome to the new and improved MyCANVAS by Nanako,Divia and Daniel. There are lots of bugs but don't tell
                    Alex and Gordon shhhhh!</span>
            </h1>
            <div class="action-wrapper">
                <p>
                    <a href="/auth/facebook" class="cd-btn primary">Facebook Login</a>
                </p>
            </div>
        </div>
    </section>

</body>

</html>