<!DOCTYPE html >
<html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">

             <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
            
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        </head>
        <body>
            <br>
            <h3>Sign Up</h3>
            <p>or <a href="#">sign in to your account</a></p>
            
            <form method="POST" action="/signup">
            <div class="form-group">
                <input type="text" name="first_name" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group">
                <input type="text" name="last_name" class="form-control" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>

            <input type="submit" class="btn btn-secondary" value="Sign up">
            </form>

           
            <p>or</p>
            
               
                <a href="/auth/facebook/">Facebook Login</a>
           
        </body>
    </html>
