body {
  overflow:hidden;
}

.canvas{
    border:1px black dotted;
    position:absolute;
}

#canvas-container {
  height:500px;
}

#canvas-preview {
  background-color: transparent;
}

.buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5%;    
    width: 50px; 
}

#pan_zoom {
  border: 1px black dotted;
}

canvas:hover {
  cursor: crosshair;
}

.btn {
  margin: 0, 0, 10px, 0;
}

#pan_zoom {
  border: 1px black dotted;
}
